<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>


    <!-- Environment -->
    <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Database -->
    <add key="SQL_DatabaseName" value="db_name_production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="db_name_production" connectionString="Server=tcp:server.database.windows.net,1433;Database=db_name_production;User ID=login@server;Password=password;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>